%h1= "Greetings #{@user.email}"
%p{:style => 'color:red; font-size: 34px;'}
%p= "You have reserved a book. Please Come and get it in the next 24 hours, or you will have to reserve it again!"
%p
  Signed, Mellow Pages