<!-- <a href="http://imgur.com/gJzs2xY"><img src="http://i.imgur.com/gJzs2xY.jpg" alt="" title="Hosted by imgur.com" /></a>
<br>
<a href="http://imgur.com/vVuMQUL"><img src="http://i.imgur.com/vVuMQUL.jpg" alt="" title="Hosted by imgur.com" /></a>
<br>
<a href="http://imgur.com/F02dVvD"><img src="http://i.imgur.com/F02dVvD.jpg" alt="" title="Hosted by imgur.com" /></a> -->
<div class='homecontent'>
  <strong>Mello there!</strong><br>
  <div class='indent'>
  Bookworms rejoice! Mellow Pages, a new library and reading room in Bushwick, will open its doors on Thursday, February 21 at 7PM with beers and impromptu readings. Book lovers can hang, drink and read, while members can check out books for a suggested donation of $20 for an annual membership. But don’t worry, there are also plenty of ways to get around the membership fee.<br>
  </div>
   <div class='indent'>
  The new library is located in a 250-foot-square studio on 56 Bogart Street, and was co-founded by Bushwick residents and friends Matt Nelson and Jacob Perkins who are both originally from Seattle. Nelson, who moved to New York to do an MFA at Queens College, said he got the idea to start a library/reading room focusing on small press books from Pilot Books, a bookstore in Seattle which sold books published by independent presses before it closed in 2011.
</div>
  </div>
<div class="homecontent">
  <strong>Where?</strong><br>
  <div class="actmap">
<iframe width="295" height="335" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=morgan+stop+bogart+bushwick&amp;aq=&amp;sll=40.651018,-73.871192&amp;sspn=0.814762,1.20575&amp;t=h&amp;ie=UTF8&amp;hq=morgan+stop+bogart+bushwick&amp;hnear=&amp;radius=15000&amp;ll=40.721242,-73.930779&amp;spn=0.03838,0.050812&amp;z=13&amp;iwloc=lyrftr:h,3527365298424319768,40.705962,-73.933361&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=morgan+stop+bogart+bushwick&amp;aq=&amp;sll=40.651018,-73.871192&amp;sspn=0.814762,1.20575&amp;t=h&amp;ie=UTF8&amp;hq=morgan+stop+bogart+bushwick&amp;hnear=&amp;radius=15000&amp;ll=40.721242,-73.930779&amp;spn=0.03838,0.050812&amp;z=13&amp;iwloc=lyrftr:h,3527365298424319768,40.705962,-73.933361" style="color:#0000FF;text-align:left">+</a></small>
</div>
</div>
  <div class="press">
<strong>Press</strong>
<br><a href="http://electricliterature.com/blog/2013/02/26/partying-with-books-literally-mellow-pages-library-launch/">electric literature</a>
<br><a href="http://www.timeout.com/newyork/things-to-do/first-look-mellow-pages-library-reading-room-slide-show">time out</a>
<br><a href="http://brokelyn.com/good-times-await-at-the-mellow-pages-reading-room/">brokelyn</a>

<br><a href="http://www.thelmagazine.com/TheMeasure/archives/2013/03/03/inside-mellow-pages-bushwicks-low-key-new-reading-room">the l magazine</a>

<br><a href="http://bushwickdaily.com/2013/02/bushwick-book-nerds-have-a-new-hangout-mellow-pages/">bushwick daily</a>
<br><a href="http://paperandstring.com/nyc/bushwick/books/check-out-a-book-from-mellow-pages-library-in-bushwick">paper and string</a>
<br><a href="http://www.gotpoetry.com/News/article/sid=85783.html">got poetry</a>
<br><a href="http://scoutmob.com/new-york/scoutfinds/4969">scout mob</a>
<br><a href="http://brooklyn.news12.com/bushwick-residents-get-mellow-at-new-library-1.4688758">brooklyn news</a>

</div>
<div class="followcontact">
<strong>Tumblr</strong>
<br><a href="http://mellowpageslibrary.tumblr.com/">mellowpageslibrary.tumblr.com/</a>
<br>
<br>
<strong>Facebook</strong>
<br><a href="https://www.facebook.com/MellowPagesLibrary?group_id=0">facebook.com/mellowpages</a>
<br>
<br>
<strong>Phone</strong>
<br><a href="http://mellowpageslibrary.tumblr.com/">+1 917 442 9308</a>

  </div>



