<footer class="row" id="footerpadding">
  <div class="large-12 columns">
    <!-- <hr /> -->
    <div class="row">
      <div class="large-6 columns">
        <p>Created by <a href="http://www.cargocollective.com/joewaine" target="_blank">Joe Waine</a></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#" class="wdi3">WDI3 2013</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>